/* >>>>>>>>>> BEGIN source/resources/buttonStyles.css */
.sc-button-view {
  display: inline-block ;
  vertical-align: middle;
  text-decoration: none ;
  border: 1px #555 none;
}


/* @group Regular Size */

/* @group basic */

 .sc-button-view.sc-regular-size.square {
  font-size: 12px;
  max-height: 24px;
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat right -814px;*/
	background-image: url('/static/hackenit/en/current/resources/images/buttonUp.png?1296714978');
	border-radius: 5px;
}

 .sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 24px;
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat left -789px;*/
	background-image: url('/static/hackenit/en/current/resources/images/buttonUp.png?1296714978');
	border-radius: 5px;
}

 .sc-button-view.sc-regular-size.square .sc-button-label {
  height: 18px;
  line-height: 24px;  
  margin-left: 11px;
  margin-right: 11px;  
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') repeat-x -15px -764px;*/
	background: none;
	}

/* @end */

/* @group active */

 .sc-button-view.sc-regular-size.square.active {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat left -913px;*/
	background-image: url('/static/hackenit/en/current/resources/images/buttonDown.png?1296714978');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat right -939px;*/
	background-image: url('/static/hackenit/en/current/resources/images/buttonDown.png?1296714978');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-label {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') repeat-x right -889px;*/
	background: none;
}

/* @end */



/* @group sel - def */

 .sc-button-view.sc-regular-size.square.def,
 .sc-button-view.sc-regular-size.square.sel {
	background-image: url('/static/hackenit/en/current/resources/images/buttonUpDefault.png?1298104081');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
	background-image: url('/static/hackenit/en/current/resources/images/buttonUpDefault.png?1298104081');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	background: none;
}

/* @end */



/* @group sel - def -active */

 .sc-button-view.sc-regular-size.square.def.active,
 .sc-button-view.sc-regular-size.square.sel.active {
	background-image: url('/static/hackenit/en/current/resources/images/buttonDown.png?1296714978');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
	background-image: url('/static/hackenit/en/current/resources/images/buttonDown.png?1296714978');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
	background: none;
}

/* @end */



/* @end */


/* @end */


/* >>>>>>>>>> BEGIN source/resources/theme_styles.css */
/* ==========================================================================
*  Project:   Hackenit Theme Styles
*  Copyright: ©2011 My Company, Inc.
*  ==========================================================================
*/

.base-view{
	background: rgb(203, 222, 233);
	    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 800, from(gray), to(#262629));
	    background-image: -moz-radial-gradient(bottom, circle, gray 0px, #262629 800px); 
}

.main-image{
	
}

.call-label{
	text-align: center;
}

.name-label{
	text-align: center;
}

