.sc-button-view {
  display: inline-block ;
  vertical-align: middle;
  text-decoration: none ;
  border: 1px #555 none;
}


/* @group Regular Size */

/* @group basic */

 .sc-button-view.sc-regular-size.square {
  font-size: 12px;
  max-height: 24px;
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat right -814px;*/
	background-image: sc_static('/images/buttonUp.png');
	border-radius: 5px;
}

 .sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 24px;
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat left -789px;*/
	background-image: sc_static('/images/buttonUp.png');
	border-radius: 5px;
}

 .sc-button-view.sc-regular-size.square .sc-button-label {
  height: 18px;
  line-height: 24px;  
  margin-left: 11px;
  margin-right: 11px;  
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') repeat-x -15px -764px;*/
	background: none;
	}

/* @end */

/* @group active */

 .sc-button-view.sc-regular-size.square.active {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat left -913px;*/
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') no-repeat right -939px;*/
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-label {
  /*background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1290899321') repeat-x right -889px;*/
	background: none;
}

/* @end */



/* @group sel - def */

 .sc-button-view.sc-regular-size.square.def,
 .sc-button-view.sc-regular-size.square.sel {
	background-image: sc_static('/images/buttonUpDefault.png');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
	background-image: sc_static('/images/buttonUpDefault.png');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	background: none;
}

/* @end */



/* @group sel - def -active */

 .sc-button-view.sc-regular-size.square.def.active,
 .sc-button-view.sc-regular-size.square.sel.active {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
	background: none;
}

/* @end */



/* @end */


/* @end */

